@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&family=Poppins:wght@500;600&display=swap');


body {
    border-radius: 10px;
    background-color: #F9F9F9;
    align-items: center;
    width: 284px;
    height: 800px;
    text-align: center;
    margin:auto;
  }

#mainform {
    width: 200px;
    font-family: 'Lexend', sans-serif;
    font-size: 12px;
    border: 2px solid #E5EFF0;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    padding-top:30px;
    padding-bottom: 30px;
    margin: auto;
  }

#line {
  margin-top: 60%;
}

h2 {
    color: #638184;
    background: #E5EFF0;
    width: 224px;
    border-radius: 15px 15px 0px 0px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

#start {
    font-family: 'Lexend', sans-serif;
    background-color: #F9F9F9;
    font-weight: 600;
    font-size: 16px;
    color:#DC989A;
    padding: 15px;
    border-radius: 15px;
    border: solid 2px #DC989A;
    width: 224px;
    align-items: center;
    margin: auto;
    text-decoration: none;
    padding-left: 90px;
    padding-right: 90px;
  }

#logout {
    color: #DC989A;
    font-family: 'Lexend', sans-serif;
    font-size: 12px;
    font-weight: 500px;
    text-align: center;
    text-decoration: none;
  }

#logout:active, #logout:focus, #logout:hover{
    text-decoration: none;
  }

#start:hover {
    background-color: #DC989A;
    color: white;
    border: 2px #F9F9F9 solid;
    text-decoration: none;
  }

#start:active {
    background-color: #DC989A;
    color: white;
    border: 2px #F9F9F9 solid;
    text-decoration: none;
 }

#formdiv {
  align-items: center;
  width: 284px;
  text-align: center;
  margin-top: 10px;
 }

input:checked {
  accent-color: #DC989A;
  background-color: #DC989A;
 }

 
input[type='radio'] {
  background-color: #DC989A;
  accent-color: #DC989A ;
 }

 .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
